body{
    background-color: rgb(215, 235, 235);
    overflow-x: hidden;
    cursor: url('../imgs/feesh.png'), auto;
}

a{
    font-family:Calibri, sans-serif;
    cursor: url('../imgs/feesh.png'), auto;
}

p{
    font-family: Calibri, sans-serif;
}

h1{
    font-family: Cochin, serif;
    color: rgb(113, 176, 62);
}

h2{
    font-family: Cochin, serif;
    color: rgb(38, 38, 110);
}

h3{
    font-family: Cochin, serif;
    color: rgb(232, 123, 172);
}

h4{
    font-family: monospace;
    color: rgb(24, 37, 105);
}

h5{
    font-family: monospace;
    color: rgb(104,81,173);
    font-size: 1rem;
}

span{
    color: rgb(0,127,191);
}

/* STRUCTURAL */
.abs_holder {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flexicity{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:flex-start;
}

.text_bucket{
    padding: 2rem;
    font-family:Calibri;
}

.navigory{
    /* z-index: 10; */
    /* position: absolute; */
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.thing{
    padding-left: 1rem;
    color: rgb(0, 106, 176);
}

.thing:hover{
    padding-left: 1rem;
    color: rgb(196, 49, 35);
}

/* UTILITY */
.no_c{
    display: none;
}

.actually_button{
    color: rgb(232, 123, 172);
}

.actually_button:hover{
    color: rgb(217, 59, 124);
    text-decoration: underline double rgb(217, 59, 124);
}